*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.d-flex{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    line-height: calc(100vh - 60px);
    letter-spacing: 10px;
}


.box{
    background-image: url("https://c1.wallpaperflare.com/preview/893/1020/960/contact-us-contact-email-phone.jpg");
    background-size: cover;
    background-position: top;
    height: calc(100vh - 60px);
}
