*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 60px;
    background-color: #1f2319;
}

nav{
    align-items: center;
    display: flex;

}

ul{
    display: flex;
    padding: 20px;
    list-style: none;
}

li{
    padding: 0px 50px;

}

li a{
    text-decoration: none;
    color: aliceblue;
}

li a:hover{
    color: lightblue;
}
